@model IEnumerable<App.Domain.ViewModel.ProcessActionPdfVM>

@{
    ViewBag.Title = "PAPdf";
    Layout = null;
    int sl = 0;

    var CompInfo = ProcessAutomation.Models.GetCompanyInfo.GetComInfo();
    string CompanyAddress = ((CompInfo.Addr1 == null ? string.Empty : CompInfo.Addr1) + (CompInfo.Addr2 == null ? string.Empty : CompInfo.Addr2));
}

<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/Export.js"></script>
@*<link href="~/App_Themes/Theme1/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/App_Themes/Theme1/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="~/App_Themes/Theme1/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/App_Themes/Theme1/plugins/select2/select2.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/FormDesign.css" rel="stylesheet" />*@

<style>
    hr {
        border: 1px solid #000000;
        border-style: none none solid;
        color: black;
    }

    tr {
        page-break-inside: avoid;
    }
</style>

<div id="toReport" class="panel-body" style="margin: auto; text-align:center !important; width:800px; height:1150px; padding:60px">
    <div class="panel-heading" style="text-align:center">
        <div class="panel-title">
            <label style="text-align:center !important; text-decoration: none; font-size:25px; font-weight:bold">@CompInfo.CompName</label><br>
            <label style="text-align:center !important; text-decoration: none; font-size:23px; font-weight:normal">@CompanyAddress</label><br>
            @*<label style="text-align:center !important; text-decoration: none; font-size:23px; font-weight:normal">Phone:@CompInfo.Tel</label>*@<br>
        </div>
        <br />
        <div class="panel-title">
            <text style="text-align:center !important; text-decoration: none; font-size:20px; font-weight:bold">@ViewBag.Title</text>
        </div>

    </div>
    <hr />
    <br />

    <div class="panel-body" style="text-align:center">
        <ul>
            <li>File No:</li>
            <li>Ref. No</li>
            <li>Create Date:</li>
            <li>Create By</li>
            <li>Subject:</li>
            <li>Description</li>    
            
            <li>Mark To</li>
            <li>Forward Date</li>
            <li>Attachment</li>
            <li>Notes</li>       
        </ul>
       
    </div>

</div>